/* .white-text{
    text-align: center !important;
    margin-left: auto;
} */

@media screen and (max-width: 768px){

    .card-image{
     margin-top:15px;
    }

    .card-image::after {
        background: linear-gradient(to right,rgba(0,0,0,0.48) ,rgba(0,0,0,0)) !important;
    }
    }