.css-vz0s8c{
  
    box-sizing: border-box;
    /* margin-top: 10px !important; */
    min-width: 0;
    padding: 30px;
    margin-bottom: 10px !important;
    border-radius: 6px;
    background-color: #ffffff;

}

.Fruits{
box-sizing: border-box;
margin-top: 80px;
min-width: 0;
background-image: url(https://images.pexels.com/photos/1253250/pexels-photo-1253250.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
/* display: -webkit-box; */
/* display: -webkit-flex; */
/* display: -ms-flexbox; */
display: flex;
/* -webkit-flex-direction: column; */
/* -ms-flex-direction: column; */
flex-direction: column;
-webkit-box-pack: end;
/* -webkit-justify-content: flex-end; */
/* -ms-flex-pack: end; */
justify-content: flex-end;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
/* min-height: 300px; */
/* padding: 20px; */
border-radius: 6px;
position: relative;
overflow: hidden;
box-shadow: 0 2px 4px rgba(0,0,0,0.06);
}


@media screen and (min-width: 1024px){
.Fruits{
    min-height: 300px;
    padding: 60px;
}}
@media screen and (max-width: 1024px){
    .Fruits{
        min-height: 400px;
        padding: 60px;
    }

}
@media screen and (max-width: 768px){
.Fruits{
    min-height: 330px !important;
    padding: 30px;
}}
@media screen and (min-width: 768px){

body {
    font-size: 15px;
}
}
@media screen and (max-width: 768px){

.Fruits::after {
    background: linear-gradient(to right,rgba(0,0,0,0.5) ,rgba(0,0,0,0.5));
}
}

.Fruits::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(0,0,0,0.75) ,rgba(0,0,0,0));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}