.css-lilrry {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; */
  display: flex;
  /* -webkit-flex-direction: column;
  -ms-flex-direction: column; */
  flex-direction: column;
  -webkit-box-pack: center;
  /* -webkit-justify-content: center;
  -ms-flex-pack: center; */
  justify-content: center;
  min-height: 80px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E6E6E6;
  background-color: #ffffff;
}

.css-lilrry > div {
  padding-left: 20px;
  padding-right: 20px;
}
.css-lx4zgw {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;

  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.css-yiublk {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 20px;
  padding-right: 20px; */
}

@media screen and (min-width: 1024px){
.css-4cvtjf {
    grid-gap: 40px;
}
}

@media screen and (min-width: 768px){
.css-4cvtjf {
    grid-gap: 30px;
}
}
.css-4cvtjf {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: grid;
  /* grid-gap: 16px;
  grid-gap: 10px; */
  /* -webkit-align-items: center; */
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  align-items: center;
  grid-template-columns: auto 1fr auto;
}

.css-4cffwv {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; */
  display: flex;
}

.css-ehmq8d {
  box-sizing: border-box;
  margin: 0;
  /* min-width: 0; */
  -webkit-appearance: none;
  /* -moz-appearance: none;
  appearance: none;
  display: inline-block; */
  text-align: center;
  line-height: inherit;
  /* -webkit-text-decoration: none; */
  text-decoration: none;
  font-size: inherit;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* color: #ffffff;
  background-color: #292929; */
  border: 0;
  /* border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center; */
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  align-items: center;
  -webkit-box-pack: center;
  /* -webkit-justify-content: center; */
  /* -ms-flex-pack: center; */
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
  min-width: 48px;
  min-height: 48px;
  color: #292929;
  background-color: transparent;
  padding: 0;
  display: none;
}

.css-ehmq8d svg {
  width: 30px;
  height: 30px;
}

.css-11fpb1a {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  /* display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox; */
  display: inline-flex;
  /* -webkit-align-items: center; */
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  align-items: center;
}
.css-lilrry .logo a {
  position: relative;
  margin-top: 6px;
  margin-right: 30px;
  display: flex;
  transition: all 0.2s ease;
}

@media screen and (min-width: 768px){
.css-xvayrh {
    width: 96px;
}
}
.css-xvayrh {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
  /* width: 84px; */
}

.css-vurnku {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}
.css-5z9l6o {
  box-sizing: border-box;
  margin: 0;
  /* min-width: 0; */
  -webkit-appearance: none;
  /* -moz-appearance: none;
  appearance: none;
  display: inline-block; */
  text-align: center;
  line-height: inherit;
  /* -webkit-text-decoration: none; */
  text-decoration: none;
  font-size: inherit;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* color: #ffffff;
  background-color: #292929; */
  border: 0;
  /* border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center; */
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  align-items: center;
  -webkit-box-pack: center;
  /* -webkit-justify-content: center; */
  /* -ms-flex-pack: center; */
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
  min-width: 48px;
  min-height: 48px;
  color: #292929;
  background-color: transparent;
  padding: 0;
  display: none;
}
.css-5z9l6o svg {
  width: 18px;
  height: 18px;
}
.css-4cvtjf .search {
  
  display: flex;
  max-width: 480px;
  margin-left: auto;
}


.css-7zrp1a {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    
    -webkit-box-align: center;
    
    align-items: center;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 768px){
.css-7zrp1a svg.search-icon {
    left: 25px;
}
}
.css-7zrp1a svg.search-icon {
  left: 20px;
  pointer-events: none;
}
.css-7zrp1a svg {
  fill: #5A5A5A;
  position: absolute;
}
@media screen and (min-width: 768px){
.css-7zrp1a input {
    padding: 14px 25px 14px 62px;
}
}

.css-7zrp1a input {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  border-radius: 6px;
  /* padding: 14px 20px 14px 50px; */
  background-color: #F9F9F9;
  border-width: 1px;
  border-style: solid;
  border-color: #E6E6E6;
  /* -webkit-transition: border-color 0.2s ease; */
  transition: border-color 0.2s ease;
}

.css-lx4zgw {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;

  display: flex;

  -webkit-box-align: center;

  align-items: center;
}
@media screen and (min-width: 768px){
.css-lx4zgw a svg {
    width: 19px;
    height: 19px;
}
}
.css-lx4zgw a svg {
  width: 19.2px;
  height: 19.2px;
}